<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %} {% endblock %} - Plataforma gastronómica</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="plataforma para publicidad de negocios de gastronomia">
    <meta name="author" content="ISW 5T3-CO">

    <!-- stylesheets -->
    <!-- boostraps base css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <!-- custom css  thanks to amoeba template-->
    <link rel="stylesheet" type="text/css" href="{% static "css/isotope.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "js/fancybox/jquery.fancybox.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "skin/default.css" %}">
</head>
<body>
    <!-- default nav bar -->
    <section id="header" class="appear"></section>

    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="{% url 'home' %}" data-0="line-height:90px;" data-300="line-height:50px;">GastroNica</a>
                </h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li class="active">
                        <a href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contacto</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'admin:index' %}">Mi contenido</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/admin/login">Iniciar sesion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div> <!-- end default nav bar -->

    <!-- body content -->
    {% block body_block %}
    {% endblock %}
    <!-- set footer -->
    <section id="footer" class="section footer">
        <div class="container">

            <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="row align-center copyright">
                    <div class="col-sm-12">
                        <p>
                            2016 Gastronica - Desarrollado por <a href="">ISW - 5T3</a>
                        </p>
                    </div>
            </div>

        </div>
    </section>
    <!-- jquery and boostrap's js -->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.nicescroll.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fancybox/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/skrollr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrollTo-1.4.3.1-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.localscroll-1.2.7-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stellar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.appear.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>