<!DOCTYPE html>
{% load bootstrap3 %}
<html>
<head>
    <title>{% block title %} {% endblock %} - Plataforma gastronómica</title>
    <meta charset="utf-8">
    <meta name="description" content="Proyecto Plataforma Gastronómica Publicitaria">
    <meta name="author" content="ISW 5T3-CO">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- stylesheets -->
    {% bootstrap_css %}

    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- body content -->
    {% block content %}
    {% endblock %}
    <!-- jquery and boostrap's js -->
    <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
    {% bootstrap_javascript %}
</body>
</html>