{% extends "layouts/default.html" %}
{% load bootstrap3 %}
{% block title %}Nuevo Negocio{% endblock title %}
{% block content %}
    <h3>Agrega tu negocio a esta plataforma...</h3>
    <br>

    <form action="" method="POST" class="form">
        {% csrf_token %}
        <h4>Datos del nuevo negocio</h4>
            {% bootstrap_form negocio %}
        <h4>Datos del administrador</h4>
            {%  bootstrap_form administrator %}
        {% buttons %}
            <button type="submit" name="Agregar negocio nuevo" class="btn btn-primary">
            {% bootstrap_icon "star" %} Agregar negocio nuevo
            </button>
        {% endbuttons %}
    </form>

{% endblock %}