{% extends "layouts/default.html" %}
{% load bootstrap3 %}
{% block title %}Registro de nuevo cliente{% endblock title %}
{% block content %}
    <h3>Registrate como cliente en esta plataforma</h3>
    <br>
    <br>
    <form action="/agregar_cliente/" method="POST">
        {% csrf_token %}
        <h4>Datos personales</h4>
        <ul>
            {% bootstrap_form customer %}
        </ul>
        <button type="submit" name="Registrarse" class="btn btn-primary">Regístrate</button>
    </form>
{% endblock %}