{% extends "layouts/default.html" %}
{% block title %}Nuevo Negocio{% endblock title %}
{% block body_block %}
    <h3>Agrega tu negocio a esta plataforma...</h3>
    <br>

    <form action="" method="POST" class="form">
        {% csrf_token %}
        <h4>Datos del nuevo negocio</h4>
            {{ negocio.as_p }}
        <h4>Datos del administrador</h4>
            {{ administrator.as_p }}
        <button type="submit" name="Agregar negocio nuevo" class="btn btn-primary">
        Agregar negocio nuevo
        </button>
    </form>

{% endblock %}