{% extends "layouts/default.html" %}
{% block title %}Principal{% endblock %}
{% block body_block %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>Opciones principales: </h3>
    <ul>
        <li><a href="{% url 'newnegocio' %}">Agregar nuevo negocio</a></li>
        <li><a href="{% url 'lista-negocios' %}">Lista de negocios inscritos</a></li>
        <li><a href="{% url 'newcustomer' %}">Agregar nuevo cliente</a></li>
        <li><a href="{% url 'admin:index' %}">Iniciar sesion</a></li>
    </ul>
{% endblock %}
